<div class="holder">
	<br>
	<table>
		<tr>
			<td style="padding-right: 10px">
				<%= link_to 'simple js elements', simple_path, :class => 'dash_box' %>		
			</td>
			<td style="padding-right: 10px; padding-left: 10px">
				<%= link_to 'dynamic search', posts_path, :class => 'dash_box' %>	
			</td>
			<td style="padding-right: 10px; padding-left: 10px">
				<%= link_to 'modal input', '#', :class => 'dash_box' %>
			</td>
			<td style="padding-left: 10px">
				<%= link_to 'input validation', '#', :class => 'dash_box' %>
			</td>
		</tr>
	</table>
	<br>
</div>


<script>

	$(".dash_box").mouseover(function(){
		$(this).css("background-color","#F8F8F8");
	});
	
	$(".dash_box").mouseout(function(){
		$(this).css("background-color","#FFFFFF");
	});
	
	$("#test").click(function(){
		$(this).window.location.href="http://www.google.com";
	})
			

	</script>
