<div class="holder">
	<br>
	<table>
		<tr>
			<td style="padding-right: 10px">
				<div class="hover" id="dash_box" onmouseover="hoveron()" onmouseout="hoveroff()">
					simple function
				</div>
			</td>
			<td style="padding-right: 10px; padding-left: 10px">
				<div class="hover" id="dash_box" onmouseover="hoveron()" onmouseout="hoveroff()">
					dynamic search
				</div>
			</td>
			<td style="padding-right: 10px; padding-left: 10px">
				<div class="hover" id="dash_box" onmouseover="hoveron()" onmouseout="hoveroff()">
					modal input
				</div>
			</td>
			<td style="padding-left: 10px">
				<div class="hover" id="dash_box" onmouseover="hoveron()" onmouseout="hoveroff()">
					input validation
				</div>
			</td>
		</tr>
	</table>
	<br>
</div>


<script>			
	function hoveron()	{
		document.getElementById("dash_box").style.background="#F8F8F8"
	}
		
	function hoveroff()	{
		document.getElementById("dash_box").style.background="#FFFFFF"
	}
	</script>
