<div class="holder">
	
	<h1><%= @header %></h1>

	<%= render '/posts/form'%>
	
	<form id="search_form">
  		<input id="search_input" name="q" type="text"/>
	</form>
	
	<div id="post_div">
		<%= render @posts %>
	</div>
		
	
</div>

<script>
	
	$(".post").mouseover(function(){
		$(this).css("background-color","#F8F8F8");
		$(this).children("a").toggle();
	});
	
	$(".post").mouseout(function(){
		$(this).css("background-color","#FFFFFF");
		$(this).children("a").toggle();
	});
	
</script>
