/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* HEADER */

nav {
	white-space: nowrap;
	float: right;
}

nav > ul > li {
  	list-style-type: none;
  	display: inline-block;
}

nav > ul > li > a {
  	font-weight: normal;
  	padding: 0px 5px 0px 5px;
}


.logo { 
	font-family: 'Comfortaa', cursive;
	font-size: 200%; 
}

.logo a {
	color: #000000;
}

.logo a:hover {
	color: #000000;
}

h1 {
	font-family: 'Comfortaa', cursive;
  	font-weight: normal;
  	font-size: 150%;
  	margin: 20px 0px 0px 0px;
  	color: #999999;
}

h2 {
  	font-weight: normal;
  	font-size: 125%;
  	margin: 20px 0px 0px 0px;
  	color: #CCCCCC
}

/* BODY */

body {
	margin-left: -30px;
}

div.holder {
	position: relative;
  	padding: 0px;
  	width: 1000px;
  	margin-left: auto;
  	margin-right: auto;
}

div.box {
	position: relative;
  	padding: 0px;
  	width: 1000px;
  	margin-left: auto;
  	margin-right: auto;
  	border: 1px solid #CCCCCC;
  	margin-top: 10px;
  	padding: 10px;
}

div.cursorbox {
	cursor: pointer;
	position: relative;
  	padding: 0px;
  	width: 1000px;
  	margin-left: auto;
  	margin-right: auto;
  	border: 1px solid #CCCCCC;
  	margin-top: 10px;
  	padding: 10px;
}
  	
a {
  	text-decoration: none;
  	color: #66CC66
}

a:hover {
	color: #339933;
  	text-decoration: none;
}

table th, td{
	padding: 0px;
}

/* DASH */

a.dash_box {
	display: block;
	color: #000000;
	width: 240px;
	height: 220px;
	border: 1px solid #CCCCCC;
	text-align: center;
	padding-top: 20px;
	margin: 0px;
}

/* POSTS */

#search_body_contains {
	width: 1000px;
	font-size: 100%;
	border: 1px solid #CCCCCC;
	padding: 9px 10px 9px 10px;
	background: url("/assets/search_icon.png");
	background-repeat: no-repeat;
	background-position: right;	
	margin-top: 10px;
	margin-bottom: 5px;
	color: #39A5FE;
}

#post_body {
	border: none;
	padding: 10px;
	font-size: 100%;
	color: #39A5FE;
	width: 840px;
}

#post_button {
	padding: 10px;
	font-size: 100%;
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	width: 130px;
}

div.post {
	width: 1000px;
	padding: 10px;
	border: 1px dashed #CCCCCC;
	margin-top: 5px;
}

a.post_delete {
	display: none;
	float: right;
}
